#text-over-img{
    position: relative;
    top: -600px;
    /*left: 150px;*/
    float: right;
    margin-right: 30px;
    text-wrap: normal;
    text-align: right;
    width: 500px;
}
lottie-player {
    position: relative;
    top: -250px;
    z-index: 0;
    float: left;
    margin-left: 30px;
    width: 500px;
    height: 500px;
}
#ourMission {
    text-align: center;
    margin: 0 auto;

}
nav {
    color: #272B30;
}
#text-over-img p:first-child {
    font-family: 'figtree', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #687a7f;
}
#home-pic-caption {
    z-index: 1;
    color: #272B30;
}
