:root {
    --green: #50723C;
    --gunmetal: #272B30;
    --orange: #F18F01;
    --red: #ed2b46
}
.borderShadow {
    position: relative;
    border: 1px solid white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    /*text-align: center;*/
}
.btn-red {
    background-color: var(--red);
    color: white;
}
.btn-red:hover{
    color: var(--red);
    background-color: white;
    border-color: var(--red);
}
.btn-green {
    background-color: var(--green);
    color: white;
}
.btn-green:hover {
    color: var(--green);
    background-color: white;
    border-color: var(--green);
}
.btn-gunmetal {
    background-color: var(--gunmetal);
    color: white;
}
.btn-gunmetal:hover {
    color: var(--gunmetal);
    background-color: white;
    border-color: var(--gunmetal);
}
.btn-orange {
    background-color: var(--orange);
    color: white;
}
.btn-orange:hover {
    color: var(--orange);
    background-color: white;
    border-color: var(--orange);
}
#get-started-btn {
    float: right;
}

.btn {
    transition: all .5s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: var(--green);
    box-shadow: 0 1px 1px var(--green) inset, 0 0 8px var(--green);
    outline: 0 none;
}

label.error{
    color:red;
    font-size: 0.7rem;
    padding-left: 5px;
    float: left;
}

input.error {
    border-color: red;
    box-shadow: 0 1px 1px red inset, 0 0 2px red;
    outline: 0 none;
    color: red;

}
input.success{
    border-color: var(--green);
    box-shadow: 0 1px 1px var(--green) inset, 0 0 8px var(--green);
    outline: 0 none;
}

input.valid.success-alert {
    color: var(--green);
}

.mainDiv {
    width: 90%;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
    margin: 50px auto 20px;
    height: auto;
}
