:root {
    --green: #50723C;
    --gunmetal: #272B30;
    --orange: #F18F01;
}


.btn-green {
    background-color: var(--green);
    color: white;
}
.btn-green:hover {
    color: var(--green);
    background-color: white;
    border-color: var(--green);
}
.btn-gunmetal {
    background-color: var(--gunmetal);
    color: white;
}
.btn-gunmetal:hover {
    color: var(--gunmetal);
    background-color: white;
    border-color: var(--gunmetal);
}
.btn-orange {
    background-color: var(--orange);
    color: white;
}
.btn-orange:hover {
    color: var(--orange);
    background-color: white;
    border-color: var(--orange);
}
#get-started-btn {
    float: right;
}

.btn {
    transition: all .5s;
}
